<app-header></app-header>
<ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "medium" color = "#4470a6" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Fetching Data.... </p></ngx-spinner>
<div class="container mt-5">
  <h1><STrong>ACCOUNTS LIST </STrong></h1>
  <button class="btn btn-success" [routerLink]="['/create-account', CustId]">
    <i class="fas fa-plus-circle"></i> Create Account
  </button>

  <ng-container *ngIf="accounts.length === 0; else accountsList">
    <div class="alert alert-info">No accounts found.</div>
  </ng-container>

  <ng-template #accountsList>
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Account ID</th>
              <th>Balance</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts">
              <td>{{ account.accountID }}</td>
              <td>{{ account.balance | currency }}</td>
              <td>
                <button class="btn btn-sm btn-danger" [routerLink]="['/delete-account', account.accountID]">Delete</button>
                <button class="btn btn-sm btn-primary" (click)="GoView(account.accountID)">View</button>
               
                <button class="btn btn-sm btn-success" (click)="getAccountTransactions(account.accountID)">Transactions</button>
                <button class="btn btn-sm btn-info" (click)="transferFund(account.accountID)">Transfer Funds</button>
                <button *ngIf="shouldDisplayChequeButton(account)" class="btn btn-sm btn-warning" (click)="applyForCheque(account.accountID)">Cheque</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <button class="btn btn-success" [routerLink]="['/customer-dashboard', CustId]">
    <i class="fas fa-arrow-left button"></i> Back
  </button>
</div>
