<app-header></app-header>
<div class="container mt-3" *ngIf="account">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm mb-5 bg-white rounded">
                <div class="card-header text-center bg-primary">
                    <h1 class="h4">Account Details</h1>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Account ID:</th>
                                <td>{{ account.accountID }}</td>
                            </tr>
                            <tr>
                                <th>Balance:</th>
                                <td>{{ account.balance | currency }}</td>
                            </tr>
                            <tr>
                                <th>Has Cheque:</th>
                                <td>{{ account.hasCheque ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Withdrawal Quota:</th>
                                <td>{{ account.wd_quota }}</td>
                            </tr>
                            <tr>
                                <th>Deposit Quota:</th>
                                <td>{{ account.dp_quota }}</td>
                            </tr>
                            <tr>
                                <th>Customer ID:</th>
                                <td>{{ account.customerID }}</td>
                            </tr>
                            <tr>
                                <th>Account Type:</th>
                                <td>{{ getAccountType(account.type_id) }}</td>
                            </tr>
                            <tr>
                                <th>Branch ID:</th>
                                <td>{{ account.branchID }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn btn-info" (click)="GoBack(account.customerID)">Back to List</button>
                </div>
            </div>
        </div>
    </div>
</div>
