<div class="user-home-container">
    <h2>Welcome to the User Section</h2>
    <p>At PCT Bank Ltd, we provide a range of services for our valued users. If you have an account, you can log in to access your personalized dashboard.</p>
    <div class="user-buttons">
      <button routerLink="/user-login">User Login</button>
    </div>
  
    <div class="user-services">
      <h3>Who all are Users?</h3>
      <ul>
        <li>Our Employees and Customers both comes under Users.</li>
        <li>They can use thier respective credentials to Login as User.</li>
        <li>In order to become a Customer, one has to become a Enquirer first which is handled by one of our Manager.</li>
        <li>Once the manager approves your Enquiry, he/she will provide you with necessary credentails to LogIn as a User.</li>
      </ul>
    </div>

    <div class="user-services">
        <h3>Our Services for Users</h3>
        <ul>
          <li>Manage your accounts and transactions online.</li>
          <li>Access to personalized financial advice.</li>
          <li>Secure online banking with multi-factor authentication.</li>
          <li>24/7 customer support for all your banking needs.</li>
        </ul>
      </div>
  </div>
  