<app-header></app-header>
<div class="container about-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Our Mission</h2>
          <p>At PCT Bank Ltd, our mission is to provide exceptional financial services that meet the evolving needs of our customers, while maintaining the highest standards of integrity and professionalism.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Our History</h2>
          <p>Founded in 1990, PCT Bank Ltd has grown from a small local bank to a leading financial institution with a global presence. Over the years, we have continuously evolved to meet the changing needs of our customers and the market.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Our Achievements</h2>
          <p>Over the years, PCT Bank Ltd has received numerous awards and recognitions for our exceptional services. We are proud of our achievements and remain committed to upholding our reputation for excellence.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Meet Our Team</h2>
          <div class="team-members">
            <div class="team-member">
              <img src="assets/Dhruv.jpeg" alt="CEO">
              <h3>Dhruv Rathi</h3>
             
            </div>
            <div class="team-member">
              <img src="assets/Rudra.jpeg" alt="CFO">
              <h3>Rudra Mriganka</h3>
             
            </div>
            <div class="team-member">
              <img src="assets/Kanishk.jpeg" alt="COO">
              <h3>Kanishk Gujrati</h3>
             
            </div>
            <div class="team-member">
              <img src="assets/Usha.jpeg" alt="CTO">
              <h3>Usha VG</h3>
             
            </div>
            <div class="team-member">
              <img src="assets/Tohla.jpeg" alt="CMO">
              <h3>Mohammed Tolha Baig</h3>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>