<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About PCT Bank</h5>
        <p>PCT Bank is committed to providing top-notch banking services and customer support. Our mission is to empower our customers with secure and innovative financial solutions.</p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="contact-list">
          <li>Email: support&#64;pctbank.com</li>
          <li>Phone: +1 234 567 890</li>
          <li>Address: 123 Bank Street, Finance City, FC 12345</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="social-list">
          <li><a href="#"><img src="assets/facebook-icon.png" alt="Facebook"> Facebook</a></li>
          <li><a href="#"><img src="assets/twitter-icon.png" alt="Twitter"> Twitter</a></li>
          <li><a href="#"><img src="assets/linkedin-icon.png" alt="LinkedIn"> LinkedIn</a></li>
          <li><a href="#"><img src="assets/instagram-icon.png" alt="Instagram"> Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2024 PCT Bank Ltd. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </div>
    </div>
  </div>
</footer>
