<nav>
    <div class="bank-name">
      <h1>PCT BANK LTD</h1>
    </div>
    <ul>
      <li><a routerLink="/enquirer-signUp">Home</a></li>
      <li><a routerLink="/enquirer-signUp">About Us</a></li>
      <li><a routerLink="/enquirer-signUp">Services</a></li>
      <li><a routerLink="/enquirer-signUp">Contact</a></li>
    </ul>
    <div class="header-buttons">
      <button routerLink="/enquirer-signUp">Enquirer</button>
      <button routerLink="/enquirer-signUp">User</button>
    </div>
  </nav>
  