<div class="container my-4">
    <!-- Pending Requests -->
    <div class="card shadow m-auto m-2">
      <div class="card-header text-center d-flex bg-secondary">
        <div class="fs-3 text-uppercase flex-grow-1">Pending Requests</div>
      </div>
      <div class="card-body overflow-y-visible">
        <div class="list-group" *ngFor="let enquiry of enquiriesPending">
            <button (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
                {{ enquiry.fullName }}
              </button>
        </div>
      </div>
    </div>
  
    <!-- Approved Requests -->
    <div class="card shadow m-auto m-2">
      <div class="card-header text-center d-flex bg-success">
        <div class="fs-3 text-uppercase flex-grow-1">Approved Requests</div>
      </div>
      <div class="card-body overflow-y-visible">
        <div class="list-group" *ngFor="let enquiry of enquiriesApproved">
            <button (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
                {{ enquiry.fullName }}
              </button>
        </div>
      </div>
    </div>
  
    <!-- Rejected Requests -->
    <div class="card shadow m-auto m-2">
      <div class="card-header text-center d-flex bg-danger">
        <div class="fs-3 text-uppercase flex-grow-1">Rejected Requests</div>
      </div>
      <div class="card-body overflow-y-visible">
        <div class="list-group" *ngFor="let enquiry of enquiriesRejected">
          <button (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
            {{ enquiry.fullName }}
          </button>
        </div>
      </div>
    </div>
  </div>
  