<app-header></app-header>
<ngx-spinner bdColor = "rgba(0,0,0,0.8)" size = "medium" color = "#4470a6" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Fetching Data.... </p></ngx-spinner>
<div class="container my-4">
    <div class="row align-items-center mb-4">
      <div class="col-md-3">
          <img src="assets/Manager.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-9">
          <h1 class="text-uppercase"><i><strong>Check out <br>your Latest Requests!!!</strong></i></h1>
      </div>
    </div>
  
    <div class="row justify-content-between">
      <div class="col-md-4 mb-4">
        <div class="card shadow custom-card">
          <div class="card-header text-center bg-secondary">
            <h2 class="fs-3 text-uppercase mb-0">Pending Requests</h2>
          </div>
          <div class="card-body">
            <div class="list-group">
              <button *ngFor="let enquiry of enquiriesPending" (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
                {{ enquiry.fullName }}
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow custom-card">
          <div class="card-header text-center bg-success">
            <h2 class="fs-3 text-uppercase mb-0">Approved Requests</h2>
          </div>
          <div class="card-body">
            <div class="list-group">
              <button *ngFor="let enquiry of enquiriesApproved" (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
                {{ enquiry.fullName }}
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card shadow custom-card">
          <div class="card-header text-center bg-danger">
            <h2 class="fs-3 text-uppercase mb-0">Rejected Requests</h2>
          </div>
          <div class="card-body">
            <div class="list-group">
              <button *ngFor="let enquiry of enquiriesRejected" (click)="onManagerId(enquiry.enquiryId)" class="list-group-item list-group-item-action bg-light text-center">
                {{ enquiry.fullName }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
    .custom-card {
      padding-left: 0;
      padding-right: 0;
    }
  </style>