<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center blue-background">Beneficiaries</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Beneficiary Name</th>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let beneficiary of beneficiaries">
                                <td>{{ beneficiary.benefName }}</td>
                                <td>{{ beneficiary.benefAccount }}</td>
                                <td>{{ getAccountType(beneficiary.benefAccType) }}</td>
                                <td>
                                    <button (click)="onSelect( beneficiary.benefAccount )">Transfer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
